<h1>Mov</h1>
<%= link_to 'All People', people_path %>
<p>Upload <code>.csv</code> file to import</p>
<%= simple_form_for :person, url: import_people_path, method: :post do |f| %>
  <%= f.input :import_file, as: :file %>
  <%= f.button :submit, 'Import' %>
<% end %>
