<% unless people.blank? %>
  <table>
    <thead>
    <tr>
      <th><%= Person.human_attribute_name :name %></th>
      <th><%= Person.human_attribute_name :email %></th>
      <th><%= Person.human_attribute_name :telephone_number %></th>
      <th><%= Person.human_attribute_name :website %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.telephone_number %></td>
        <td><%= person.website %></td>
        <td><%= l person.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No record found</p>
<% end %>
