<!DOCTYPE html>
<html>
  <head>
    <title>Mov</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <article class="flashes">
      <% if flash.any? %>
        <% flash.each do |status, text| %>
          <div class="flash-<%= status %>">
            <span><%= text %></span>
          </div>
        <% end %>
      <% end %>
    </article>
    <%= yield %>
  </body>
</html>
